@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,400italic);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea, address {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  text-decoration: none; }

/***********************************custom-theme-elements****************************/
/************************************************************************************/
.small-blue-btn {
  font-size: 20px;
  font-weight: 300;
  color: #FFFFFF;
  background: #2889c2;
  padding: 5px; }
  .small-blue-btn:hover {
    color: #FFFFFF; }

.small-yellow-btn {
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  background: #F79A1F;
  text-transform: uppercase;
  padding: 5px;
  text-decoration: none; }
  .small-yellow-btn:hover, .small-yellow-btn:visited {
    color: #FFFFFF;
    text-decoration: none; }

.model.not-available .small-yellow-btn {
  color: #b2b3b4;
  background: #EEEEEE;
  pointer-events: none;
  text-decoration: none; }
  .model.not-available .small-yellow-btn:hover, .model.not-available .small-yellow-btn:visited {
    background-color: #EEEEEE;
    color: #b2b3b3; }

.small-gray-btn {
  font-size: 20px;
  font-weight: 300;
  padding: 5px 25px;
  color: #FFFFFF;
  background: #2D2D2D;
  border: none;
  outline: none; }

.big-yellow-btn {
  color: #FFFFFF;
  background: #F79A1F;
  padding: 10px 30px;
  font-size: 24px;
  font-weight: 300;
  outline: none;
  border: none;
  width: 250px;
  text-align: center;
  text-decoration: none !important; }
  .big-yellow-btn:hover, .big-yellow-btn:visited {
    color: #FFFFFF;
    text-decoration: none !important; }

.big-yellow-btn.disable {
  background-color: #2D2D2D;
  pointer-events: none; }

.db {
  display: block; }

.morecontent span {
  display: none; }

.morelink {
  text-decoration: underline; }

/************************************header-navigation*******************************/
/************************************************************************************/
.navbar-nav {
  font-size: 16px;
  font-weight: 300; }

.navbar-default {
  background: #2D2D2D; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background: #191919; }

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF !important; }

.navbar-brand {
  padding: 5px;
  margin-right: 30px; }
  .navbar-brand img {
    height: 40px; }

.basket-fa-xs, .user-fa-xs {
  float: right;
  padding: 9px 10px;
  margin: 8px 0; }

.sell-btn {
  text-transform: uppercase;
  background: #2889c2; }
  .sell-btn:hover {
    text-decoration: none; }

/*****button-sandwich*******/
.navbar-header .navbar-toggle {
  border: none; }
  .navbar-header .navbar-toggle .fa-times {
    color: #808080; }
  .navbar-header .navbar-toggle .fa-bars {
    color: #EEEEEE; }

.navbar-header .navbar-toggle[aria-expanded="false"] .fa-times {
  display: none; }

.navbar-header .navbar-toggle[aria-expanded="true"] .fa-bars {
  display: none; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: #191919; }

/*************multi-column-menu***********/
.dropdown-menu {
  min-width: 200px;
  padding: 0;
  font-size: 16px;
  background-color: #191919; }
  .dropdown-menu li a {
    color: #FFFFFF;
    padding: 10px 15px;
    font-weight: 300; }
  .dropdown-menu li a:hover {
    color: #FFFFFF;
    background-color: #2889c2; }

.dropdown .login-user ~ .menu-new-user {
  display: none; }

.dropdown .new-user ~ .menu-login-user {
  display: none; }

.login-user i {
  color: #FFFFFF; }

.signin {
  background-color: #F79A1F; }
  .signin a {
    font-weight: 600 !important; }

.dropdown-menu.columns-2 {
  min-width: 400px; }

.dropdown-menu.columns-3 {
  min-width: 450px; }

.multi-column-dropdown {
  list-style: none; }

.multi-column-dropdown li a {
  display: block;
  clear: both;
  line-height: 1.428571429;
  color: #FFFFFF;
  white-space: normal; }

.multi-column-dropdown li a:hover {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #2889c2; }

@media (max-width: 767px) {
  .dropdown-menu.multi-column {
    min-width: 240px !important;
    overflow-x: hidden; }
    .dropdown-menu.multi-column li a {
      padding-left: 30px; }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #FFFFFF; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
      background-color: #2889c2;
      color: #FFFFFF; } }
/******************end-multi-column-menu******/
/*****************************our-products-main-page*********************************/
/************************************************************************************/
.our-products {
  padding: 50px 0 20px; }
  .our-products h1 {
    font-size: 45px;
    font-weight: 700;
    color: #2889c2;
    text-align: center;
    padding-bottom: 50px;
    text-transform: uppercase; }
  .our-products li {
    text-align: center;
    display: inline-block;
    float: left;
    padding-right: 3px;
    padding-left: 3px; }
    .our-products li .wrap-img {
      height: 190px;
      padding: 0 5px;
      position: relative; }
      .our-products li .wrap-img img {
        height: 100%;
        width: auto; }
    .our-products li .small-blue-btn {
      display: inline-block;
      width: 100px;
      margin: 20px 0; }

/******************************about-us**********************************************/
/************************************************************************************/
.about-us h2 {
  font-size: 21px;
  text-align: center;
  color: #2D2D2D;
  background: #EEEEEE;
  padding: 8px 0;
  margin-bottom: 10px; }

.slider-about-us .slide {
  position: relative; }
  .slider-about-us .slide .hide-block {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px 10px 10px 10px;
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 16px; }
  .slider-about-us .slide a:hover .hide-block {
    display: block; }

/*****custom-slider-style*****/
.bx-wrapper .bx-viewport {
  box-shadow: none;
  border: none; }

/***********************************advantages***************************************/
/************************************************************************************/
.advantages {
  background: #EEEEEE;
  padding: 25px 0;
  margin-top: 30px; }
  .advantages ul li {
    text-align: center;
    padding-right: 5px;
    padding-left: 5px; }
    .advantages ul li img {
      height: 60px;
      width: auto; }
    .advantages ul li p {
      font-size: 16px;
      padding: 5px 0; }

/****************************************home-iphone*********************************/
/************************************************************************************/
.photo-product-models {
  padding-top: 75px;
  text-align: center; }
  .photo-product-models img {
    max-width: 90%;
    height: auto; }

.select-model-product h1 {
  font-size: 25px;
  color: #2889c2;
  margin: 20px 0 20px;
  text-align: center; }

.header-list-mac {
  font-size: 17px;
  color: #EEEEEE;
  background: #2D2D2D;
  padding: 0 20px;
  margin: 0 5px;
  display: block; }

.list-models-products.list-mac li a {
  font-size: 17px; }

.list-models-products {
  padding-left: 2px;
  padding-right: 2px; }
  .list-models-products li {
    padding: 3px 5px; }
    .list-models-products li a {
      font-size: 20px;
      color: #2D2D2D;
      background: #EEEEEE;
      padding: 5px 20px;
      display: block; }
      .list-models-products li a:hover {
        color: #FFFFFF;
        background-color: #2889c2;
        text-decoration: none; }
  .list-models-products .not-available a {
    color: #b2b3b3;
    pointer-events: none; }
    .list-models-products .not-available a:hover {
      background-color: #EEEEEE;
      color: #b2b3b3; }

.our-advantages {
  padding-top: 20px; }
  .our-advantages .container {
    background: #EEEEEE;
    padding: 20px; }
  .our-advantages h2 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px; }
  .our-advantages li {
    font-size: 15px;
    padding: 20px 10px 20px 100px; }
  .our-advantages .advantage01 {
    background: url("../img/advantage01.png") 3% 50% no-repeat;
    background-size: 50px; }
  .our-advantages .advantage02 {
    background: url("../img/advantage02.png") 2.2% 50% no-repeat;
    background-size: 60px; }
  .our-advantages .advantage03 {
    background: url("../img/advantage03.png") 4% 50% no-repeat;
    background-size: 30px; }
  .our-advantages .advantage04 {
    background: url("../img/advantage04.png") 3% 50% no-repeat;
    background-size: 50px; }

/**********************************iphone6*******************************************/
/************************************************************************************/
.version-product h1 {
  padding: 20px 20px 0;
  font-size: 44px;
  color: #2889c2;
  font-weight: 600; }
.version-product .info-product {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 25px; }
.version-product .model.not-available a {
  pointer-events: none; }
.version-product .model.col-sm-3 .wrap-img-model {
  height: auto; }
  .version-product .model.col-sm-3 .wrap-img-model img {
    width: 100%;
    height: auto; }
.version-product .model {
  padding: 20px 20px; }
  .version-product .model .wrap-img-model {
    position: relative;
    display: block;
    height: 220px; }
    .version-product .model .wrap-img-model img {
      width: auto;
      height: 100%; }
    .version-product .model .wrap-img-model span {
      position: absolute;
      top: -38px;
      right: 0;
      color: #FFFFFF;
      background: #2889c2;
      border-radius: 50%;
      width: 76px;
      height: 76px;
      text-align: center;
      line-height: 76px;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 600; }
  .version-product .model p {
    font-size: 17px;
    padding: 15px 0; }
  .version-product .model .small-yellow-btn {
    font-size: 16px;
    padding: 10px; }

/***************************************thanks-message*******************************/
/************************************************************************************/
.thanks-message .wrap {
  margin: 30px 0;
  border: solid 3px #2889c2;
  text-align: center; }
.thanks-message h1 {
  font-size: 82px;
  font-weight: 600; }
.thanks-message .fa-check {
  color: #2db563; }
.thanks-message p {
  font-size: 16px;
  font-weight: 300; }
.thanks-message .compliment, .thanks-message .gift {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400; }
.thanks-message .gift {
  padding-top: 50px; }
  .thanks-message .gift span {
    color: #2188c4; }
.thanks-message .compliment {
  padding: 10px 0; }
.thanks-message .social-link-thanks {
  padding: 50px 0; }
  .thanks-message .social-link-thanks li {
    display: inline-block;
    margin: 0 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center; }
    .thanks-message .social-link-thanks li a {
      display: block; }
      .thanks-message .social-link-thanks li a:hover i {
        color: #EEEEEE; }
    .thanks-message .social-link-thanks li i {
      line-height: 50px;
      text-align: center;
      color: #FFFFFF; }
  .thanks-message .social-link-thanks .facebook {
    background: #3660a0; }
  .thanks-message .social-link-thanks .twitter {
    background: #2daae1; }
  .thanks-message .social-link-thanks .linkedin {
    background: #096c9b; }
  .thanks-message .social-link-thanks .youtube {
    background: #ee3537; }

/*********************************************product_page***************************/
/************************************************************************************/
.product-section {
  /*****colors******/
  /*****end-colors****/
  /****tabs*****/ }
  .product-section h1 {
    font-size: 46px;
    color: #2D2D2D;
    font-weight: 600;
    margin-bottom: 30px; }
  .product-section .wrap-selection[disabled] .label-condition {
    color: #dddcdc; }
  .product-section .wrap-selection[disabled] .radio-custom-btn-label, .product-section .wrap-selection[disabled] .radio-custom-btn-input, .product-section .wrap-selection[disabled] .radio-custom-color-label, .product-section .wrap-selection[disabled] .radio-custom-color-input {
    color: #FFFFFF;
    background-color: #dddcdc;
    border: none;
    pointer-events: none; }
  .product-section .label-condition {
    font-size: 21px;
    margin: 10px 0; }
    .product-section .label-condition .information-condition {
      color: #FFFFFF;
      background: #2D2D2D;
      width: 20px;
      height: 20px;
      display: inline-block;
      border-radius: 50%;
      text-align: center;
      font-size: 16px;
      margin-left: 6px;
      margin-right: 6px; }
    .product-section .label-condition .link-information-condition {
      font-size: 11px;
      text-decoration: underline !important; }
  .product-section .wrap-color-inputs {
    display: inline-block;
    vertical-align: middle; }
  .product-section .selected-color {
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px; }
  .product-section .radio-custom-color-input[disabled] + label {
    position: relative; }
    .product-section .radio-custom-color-input[disabled] + label span:before {
      content: "";
      position: absolute;
      width: 32px;
      height: 1px;
      background-color: #b3b4b4;
      display: block;
      top: 19px;
      bottom: 0;
      left: 3px;
      right: 0;
      -moz-transform: rotate(50deg);
      /* Firefox */
      -ms-transform: rotate(50deg);
      /* IE */
      -webkit-transform: rotate(50deg);
      /* Safari, Chrome, iOS */
      -o-transform: rotate(50deg);
      /* Opera */
      transform: rotate(50deg); }
    .product-section .radio-custom-color-input[disabled] + label span:after {
      content: "";
      position: absolute;
      width: 32px;
      height: 1px;
      background-color: #b3b4b4;
      display: block;
      top: 19px;
      bottom: 0;
      left: 3px;
      right: 0;
      -moz-transform: rotate(-50deg);
      /* Firefox */
      -ms-transform: rotate(-50deg);
      /* IE */
      -webkit-transform: rotate(-50deg);
      /* Safari, Chrome, iOS */
      -o-transform: rotate(-50deg);
      /* Opera */
      transform: rotate(-50deg); }
  .product-section .radio-custom-btn-input[disabled] + label {
    color: #b2b3b4; }
  .product-section .radio-custom-color-input:not(checked), .product-section .radio-custom-btn-input:not(checked) {
    position: absolute;
    opacity: 0; }
  .product-section .radio-custom-color-input:not(checked) + label {
    color: #808080; }
  .product-section .radio-custom-color-input:checked + label {
    border: solid 2px #2889c2; }
  .product-section .radio-custom-btn-input:checked + label {
    background-color: #2889c2;
    color: #FFFFFF; }
  .product-section .radio-custom-color-label {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px; }
  .product-section label[for="grigio-siderale"] {
    background: #606061; }
  .product-section label[for="argento"] {
    background: #dddfde; }
  .product-section label[for="oro"] {
    background: #e3d0b9; }
  .product-section label[for="ororosa"] {
    background: #eecdbd; }
  .product-section label[for="sport-bianco"] {
    background: #f5f6f7; }
  .product-section label[for="rosa"] {
    background: #f26d6f; }
  .product-section label[for="bianco"] {
    background: #FFFFFF;
    border: solid 1px #808080; }
  .product-section label[for="nero"] {
    background: #000000; }
  .product-section label[for="sport-nero"] {
    background: url("../img/bg-clock04.png") no-repeat 50% 50%; }
  .product-section label[for="classicnero"] {
    background: url("../img/bg-clock01.png") no-repeat 50% 50%; }
  .product-section label[for="pellenera"] {
    background: url("../img/bg-clock02.png") no-repeat 50% 50%; }
  .product-section label[for="modernblunotte"] {
    background: url("../img/bg-clock03.png") no-repeat 50% 50%; }
  .product-section label[for="modernnero"] {
    background: url("../img/bg-clock04.png") no-repeat 50% 50%; }
  .product-section label[for="albicocca"] {
    background: #f48b7c; }
  .product-section label[for="verde"] {
    background: #c4d93d; }
  .product-section label[for="azzurro"] {
    background: #77c4ed; }
  .product-section label[for="giallo"] {
    background: #fdf16f; }
  .product-section .radio-custom-btn-label {
    font-size: 19px;
    background: #EEEEEE;
    font-weight: 400;
    padding: 5px 20px;
    border: solid 1px #EEEEEE; }
  .product-section .wrap-input-condition {
    margin-bottom: 30px; }
  .product-section .list-description-product li {
    font-size: 15px;
    padding: 5px; }
  .product-section .list-description-product li:nth-child(odd) {
    background: #EEEEEE; }
  .product-section label[for="number-product"] {
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0; }
  .product-section .wrap-buy {
    padding: 10px 15px;
    text-align: left; }
  .product-section .wrap-price {
    width: 67%;
    float: left; }
  .product-section .wrap-number {
    width: 33%;
    float: left; }
  .product-section #number-product {
    width: 50px;
    padding: 5px;
    font-size: 16px;
    border: solid 1px #EEEEEE; }
  .product-section .buy-btn {
    color: #FFFFFF;
    background: #F79A1F;
    font-size: 29px;
    text-align: center;
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 0; }
  .product-section .buy-btn[disabled] {
    background-color: #dcdcdc; }
  .product-section .wrap-img-product {
    text-align: center; }
    .product-section .wrap-img-product img {
      width: 90%;
      height: auto;
      max-width: 200px; }
  .product-section .nav-tabs {
    border: none;
    text-align: center;
    padding: 0 30px; }
    .product-section .nav-tabs li {
      float: none;
      display: inline-block; }
      .product-section .nav-tabs li a img {
        width: 35px;
        height: auto; }
  .product-section .nav-tabs > li.active > a, .product-section .nav-tabs > li.active > a:focus, .product-section .nav-tabs > li.active > a:hover {
    border: solid 2px #2889c2 !important;
    border-radius: 0; }
  .product-section .tab-pane .wrap-img {
    margin-bottom: 20px;
    text-align: center; }
    .product-section .tab-pane .wrap-img img {
      width: 90%;
      height: auto;
      max-width: 200px; }

/*******************/
.price-product {
  font-weight: 600;
  font-size: 26px !important;
  text-align: center;
  border: solid 1px #EEEEEE;
  padding: 5px 0;
  margin-top: 4px;
  position: relative; }
  .price-product .old-price {
    text-align: center;
    width: 80px;
    display: none;
    font-size: 18px; }
    .price-product .old-price .price {
      display: inline-block;
      font-weight: 300;
      color: #222222;
      position: relative; }
      .price-product .old-price .price:before {
        content: "";
        width: 75px;
        height: 1px;
        background: #222222;
        display: block;
        position: absolute;
        top: 10px;
        left: 0;
        -moz-transform: rotate(20deg);
        /* Firefox */
        -ms-transform: rotate(20deg);
        /* IE */
        -webkit-transform: rotate(20deg);
        /* Safari, Chrome, iOS */
        -o-transform: rotate(20deg);
        /* Opera */
        transform: rotate(20deg); }
    .price-product .old-price .discount-percent {
      display: inline-block;
      color: #ed1c24; }

.price-product.sale {
  color: red; }
  .price-product.sale .old-price {
    display: inline-block; }

/*****************/
/*****************************************breadcrumbs**cart01************************/
/************************************************************************************/
.breadcrumbs {
  text-align: center; }
  .breadcrumbs p {
    font-size: 27px;
    margin-bottom: 10px; }
    .breadcrumbs p .active {
      color: #F79A1F; }
    .breadcrumbs p .stage span {
      font-size: 36px; }

.product-basket {
  font-size: 20px;
  font-weight: 300; }
  .product-basket h2 {
    color: #FFFFFF;
    background: #2D2D2D;
    font-size: 32px;
    margin-bottom: 10px;
    padding: 10px 15px; }
  .product-basket form {
    background: #EEEEEE;
    padding: 20px 30px; }
  .product-basket .list-product li {
    margin-bottom: 20px;
    display: flex; }
    .product-basket .list-product li .name-product {
      width: 90%;
      float: left;
      margin: auto; }
      .product-basket .list-product li .name-product a {
        color: #2D2D2D; }
        .product-basket .list-product li .name-product a:hover {
          text-decoration: none; }
    .product-basket .list-product li .price {
      font-weight: 400;
      width: 10%;
      float: left;
      text-align: right;
      margin: auto; }
  .product-basket .delivery-price, .product-basket .total-price {
    margin-bottom: 10px;
    font-weight: 400; }
  .product-basket .text-delivery, .product-basket .text-total-price {
    font-weight: 300;
    width: 90%;
    float: left; }
  .product-basket .price-delivery, .product-basket .sum-total-price {
    width: 10%;
    float: left;
    text-align: right; }
  .product-basket .promoCode {
    margin-top: 20px; }
    .product-basket .promoCode label {
      width: 100%; }
    .product-basket .promoCode input {
      border: none;
      outline: none;
      margin: 10px 0;
      padding: 5px; }
    .product-basket .promoCode a {
      color: #FFFFFF;
      background: #2D2D2D;
      padding: 7px 20px; }
      .product-basket .promoCode a:hover {
        text-decoration: none; }

.review {
  padding-top: 50px;
  font-size: 15px; }
  .review figure {
    text-align: center;
    background: #EEEEEE; }
    .review figure img {
      width: 95%;
      height: auto; }
  .review .text-review {
    padding: 40px 10px 10px 10px; }

/******************************information-client************************************/
/************************************************************************************/
.information {
  padding-left: 0;
  padding-right: 0; }

.information-client {
  font-size: 18px;
  font-weight: 300; }
  .information-client label {
    font-weight: 300; }
  .information-client input {
    border: none;
    font-size: 18px;
    margin: 4px 0;
    padding: 5px; }
  .information-client address {
    margin-bottom: 10px; }
  .information-client .big-yellow-btn {
    padding: 10px 30px;
    font-size: 24px; }
  .information-client h2 {
    font-size: 24px;
    color: #EEEEEE;
    padding-left: 30px;
    position: relative; }
    .information-client h2 span {
      position: absolute;
      top: 3px;
      left: 3px;
      font-size: 15px;
      color: #2D2D2D;
      background: #EEEEEE;
      padding: 2px 5px;
      text-align: center; }
  .information-client .wrap-inputs {
    padding: 0; }
  .information-client .header-input {
    margin-bottom: 15px;
    font-weight: 400; }
  .information-client .authentication label {
    display: block; }
  .information-client .authentication .lost-pass {
    font-size: 14px;
    color: #2D2D2D;
    text-decoration: underline !important; }
  .information-client .authentication .small-gray-btn {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px 25px; }
  .information-client .label-small {
    font-size: 16px;
    display: block; }

/***********custom checkbox**********/
.checkbox-custom:not(checked) {
  position: absolute;
  opacity: 0; }

.checkbox-custom:checked + label {
  position: relative; }
  .checkbox-custom:checked + label:before {
    color: #2889c2;
    content: "\2714";
    font-size: 36px;
    position: absolute;
    bottom: -12px;
    right: -12px; }

.checkbox-custom-label {
  width: 18px;
  height: 18px;
  border: solid 2px #2D2D2D; }

/***********************************/
.radio-custom-card:not(checked) {
  position: absolute;
  opacity: 0; }

.radio-custom-card:checked + label {
  border: none;
  background: #2889c2; }

.radio-custom-card-label {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: solid 2px #2D2D2D;
  position: absolute;
  left: -30px; }

.wrap-custom-input {
  position: relative;
  margin-bottom: 5px; }
  .wrap-custom-input span {
    font-size: 13px;
    margin: 10px 0 30px; }
  .wrap-custom-input i {
    margin-right: 10px;
    width: 20px; }
  .wrap-custom-input b {
    font-size: 13px;
    margin-right: 20px; }

/*****accordion-custom-styles****/
.panel-default > .panel-heading {
  background-color: #dcdcdc;
  border-radius: 0; }
  .panel-default > .panel-heading a {
    text-decoration: none;
    display: block; }

.panel-default > .panel-heading.open {
  background-color: #2D2D2D;
  border-radius: 0; }
  .panel-default > .panel-heading.open a {
    text-decoration: none;
    display: block; }

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  background-color: #EEEEEE;
  margin-top: 5px;
  padding: 30px 30px 30px 50px;
  border: none; }

.panel-group .panel {
  border: none;
  border-radius: 0;
  margin-top: 5px; }
  .panel-group .panel .facebook-block {
    position: relative; }
    .panel-group .panel .facebook-block .wrap-inputs:first-child {
      border-right: solid 1px #8e9092;
      z-index: 1; }
    .panel-group .panel .facebook-block:before {
      content: "oppure";
      position: absolute;
      display: inline-block;
      text-align: center;
      padding: 10px 5px;
      top: 50%;
      left: 50%;
      margin-top: -23px;
      margin-left: -25px;
      background-color: #EEEEEE;
      z-index: 2; }

.facebook-btn {
  color: #FFFFFF;
  display: inline-block;
  float: right;
  border-top: solid 2px #7189bd;
  background: #4b6aab;
  /* Old browsers */
  background: -moz-linear-gradient(top, #4b6aab 0%, #325195 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #4b6aab 0%, #325195 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #4b6aab 0%, #325195 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b6aab', endColorstr='#325195',GradientType=0 );
  /* IE6-9 */ }
  .facebook-btn:hover {
    text-decoration: none;
    color: #FFFFFF; }
  .facebook-btn i {
    padding: 15px 20px;
    border-right: solid 1px #365092; }
  .facebook-btn span {
    padding: 0 20px; }

/****************************************control-card********************************/
/************************************************************************************/
.control-card {
  font-weight: 300;
  font-size: 20px; }
  .control-card .wrap-table address {
    margin-bottom: 10px; }
  .control-card .wrap {
    padding: 20px;
    background: #EEEEEE; }
  .control-card h2 {
    color: #FFFFFF;
    background: #2D2D2D;
    font-size: 32px;
    margin-bottom: 10px;
    padding: 10px 15px; }
  .control-card .header-block {
    font-weight: 600;
    margin-bottom: 5px; }
  .control-card .name-product, .control-card .text-delivery, .control-card .text-total-price {
    width: 80%;
    float: left;
    margin: auto; }
    .control-card .name-product a, .control-card .text-delivery a, .control-card .text-total-price a {
      color: #2D2D2D; }
      .control-card .name-product a:hover, .control-card .text-delivery a:hover, .control-card .text-total-price a:hover {
        text-decoration: none; }
  .control-card .price, .control-card .price-delivery, .control-card .sum-total-price {
    width: 20%;
    float: right;
    text-align: right;
    font-weight: 400;
    margin: auto; }
  .control-card .list-product li {
    margin-bottom: 20px;
    display: flex; }
  .control-card .delivery-price, .control-card .total-price {
    margin-bottom: 20px; }
  .control-card .wrap-custom-input {
    font-size: 14px;
    text-align: right;
    margin: 40px 0 10px;
    font-weight: 300; }
    .control-card .wrap-custom-input label {
      font-weight: 300; }
    .control-card .wrap-custom-input .radio-custom-card-label {
      position: static; }

/******************************************footer************************************/
/************************************************************************************/
footer {
  font-size: 16px;
  background: #2D2D2D;
  padding: 20px 0;
  color: #EEEEEE; }
  footer .container-fluid {
    padding: 0 30px; }
  footer a {
    color: white;
    font-weight: 300;
    margin-bottom: 5px; }
    footer a:hover {
      color: #FFFFFF; }

.social {
  float: left;
  width: 30%; }
  .social li {
    display: inline-block; }
  .social p {
    margin-bottom: 5px;
    font-weight: 300; }
  .social .social-link {
    text-decoration: none;
    color: #EEEEEE;
    margin-right: 10px; }

.footer-nav {
  float: left;
  width: 40%;
  border-right: solid 1px #808080;
  border-left: solid 1px #808080; }

.footer-block {
  margin-bottom: 15px; }
  .footer-block .wrap-footer-nav {
    padding: 0 10px 20px 10px; }
  .footer-block .menu1 {
    font-size: 15px;
    width: 45%;
    float: left; }
  .footer-block .menu2 {
    font-size: 15px;
    width: 55%;
    float: right; }

.rewards {
  float: left;
  width: 30%; }
  .rewards .left-block {
    float: right;
    text-align: right;
    padding: 0; }
    .rewards .left-block img {
      width: 70px;
      height: auto;
      margin-top: 25px; }
  .rewards .right-block {
    float: right;
    text-align: right;
    padding: 0; }
    .rewards .right-block img {
      width: 135px;
      background: #FFFFFF;
      height: auto;
      margin-bottom: 10px; }

.privacy-policy p {
  text-align: center;
  font-size: 14px; }

/*************************************popover****************************************/
/************************************************************************************/
#popover-condition .modal-header {
  border: none; }
  #popover-condition .modal-header h4 {
    font-weight: 400;
    font-size: 28px;
    padding: 0 10px; }
#popover-condition .modal-body ul {
  margin-bottom: 20px; }
#popover-condition .modal-body h5 {
  font-weight: 300;
  font-size: 28px;
  margin-bottom: 10px; }
#popover-condition .modal-body .wrap-img {
  margin-bottom: 15px; }
  #popover-condition .modal-body .wrap-img img {
    width: 100%;
    height: auto; }
#popover-condition .modal-body p {
  font-weight: 300; }

/*# sourceMappingURL=main.css.map */
